node_modules/
node_modules.previous/
package-lock.previous.json
.expo/
dist/
coverage/
*.tsbuildinfo
.env
.env.*
!.env.example
**/android/
**/ios/
*.apk
*.aab
*.jks
*.keystore
credentials.json
.expo-shared/
.DS_Store
Thumbs.db
npm-debug.log*
